@page "/executer"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<style>

    /* Style the tab */
    .tab {
        overflow: hidden;
        background-color: #20639B;
        margin: 0px;
    }

    /* Style the buttons inside the tab */
    .tab button {
        position: relative;
        border-radius: 17px 17px 0px 0px;
        color: black;
        background-color: white;
        margin: 0px;
        float: left;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        outline: none;
        cursor: pointer;
        padding: 12px 16px;
        transition: 0.3s;
        font-size: 24px;
        transform: translateY(6px);
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: rgb(200, 200, 200);
    }

    /* Create an active/current tablink class */
    .tab button.active {
        color: black;
        background-color: darkgray;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        transform: scale(1.05);
        transform: translateY(3px);
        z-index: 2;
    }

    /* Style the tab content */
    .tabcontent {
        position: relative;
        display: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-radius: 0px 5px 5px 5px;
        background-color: darkgray;
        z-index: 1;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-container > div {
        font-size: 30px;
    }

    .executerTabContent, .debuggerTabContent, .statsTabContent {
        margin: 0px 5px 0px 5px;
    }

    .executerTabContent > textarea {
        width: 100%;
        height: 350px;
        margin-top: 0px;
        margin-bottom: 0px;
        transform: translateY(5px);
    }

    .executerTabContent > div, .debugLabel, .statsTabContent > div {
        text-align: center;
        align-content: center;
    }

    .statsTabContent > textarea {
        width: 100%;
        height: 757px;
        margin-top: 0px;
        margin-bottom: 0px;
        transform: translateY(5px);
    }

    #exLabel {
        font-size: 22px;
        padding-top: 0px;
        color: black;
    }

    .inputBox, .outputBox, .memoryDumpContent {
        margin: 0px 5px 0px 5px;
    }

    .inputBox > textarea, .outputBox > textarea {
        width: 100%;
        height: 185px;
        margin: 0px 0px 0px 3px;
        transform: translateY(5px);
    }

    .inputBox > div, .outputBox > div, .memoryDumpContent > div {
        text-align: center;
        align-content: center;
    }

    .middleGridCol {
        margin: 0px 10px 0px 10px;
        text-align: center;
    }

    .ioContent, .memDump {
        border-radius: 5px 5px 5px 5px;
        border: 1px solid black;
        background-color: darkgray;
    }

    .memDump {
        margin-top: 5px;
    }

    .memoryDumpContent > textarea {
        width: 100%;
        height: 813px;
        margin: 0px 0px 0px 3px;
        transform: translateY(5px);
    }

    .container {
        margin-bottom: 16px;
    }

    .registerTextArea {
        max-width: 150px;
        height: 35px;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: center;
        font-size: 18px;
        color: black;
        transform: translateY(10px);
    }

    .registerLabel {
        font-family: "Source Code Pro", monospace;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: black;
    }

    .instLabel {
        font-family: "Source Code Pro", monospace;
        font-size: 29px;
        padding: 0px;
        margin: 0px;
        color: black;
    }

    hr {
        margin-top: 30px;
        max-width: 195px;
    }

    .ioContent {
        /*Remove the comments around the next line of code if input/output are not used*/
        /*display: none;*/
    }

    #target {
        min-width: 600px;
        min-height: 350px;
        max-width: 1000px;
        max-height: 700px;
    }

    .e-toolbar {
        border: 2px solid gray;
    }

    .debugContainer {
        border: 2px solid rgb(100, 100, 100);
        font-family: "Source Code Pro", monospace;
        font-size: 15px;
        width: 100%;
        height: 757px;
        margin-top: 0px;
        margin-bottom: 0px;
        overflow-y: auto;
        transform: translateY(5px);
        background-color: white;
        color: black;
    }

    .debuggerTabContent {
        height: 814px;
    }

    p {
        margin: 0px 0px 0px 0px;
        padding: 2px 0px 0px 0px;
    }
</style>

<div class="code_input_executer">
    <div class="code_input_wrapper">
        <div>
            <SfToolbar Height="65px">
                <ToolbarItems>
                    <ToolbarItem PrefixIcon="e-icons e-settings" Text="Build" OnClick="buildCode" TooltipText="Build the source/machine code prior to running"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-chevron-right-fill" Text="Run" Type="ItemType.Button" OnClick="runCode" TooltipText="Run the code"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-properties-1" Text="Debug" TooltipText="Start debugging the code" OnClick="Debug"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-text-wrap" Text="Step" OnClick="step" TooltipText="Step through each line of code upon debugging" Disabled="@ShowItem"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-check" Text="Continue" TooltipText="Continue through the rest of the program" Disabled="@ShowItem"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-bullet-3" Text="Stop" TooltipText="Stop the program"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-repeat" Text="ReRun" TooltipText="Re-build and Re-run the program"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem Text="DataPath" TooltipText="Show the data path of instructions" Disabled="@ShowButton" OnClick="OnClicked"></ToolbarItem>
                </ToolbarItems>
            </SfToolbar>

            <SfDialog Target="#target" Width="600px" Height="350px" ResizeHandles="@dialogResizeDirections" AllowDragging="true" EnableResize="true" ShowCloseIcon="true" @bind-Visible="Visibility">
                <DialogTemplates>
                    <Header> I am a resizeable and moveable within window modal!!</Header>
                    <Content> I will be used to show case the data path instructions take inside the "CPU" </Content>
                </DialogTemplates>
                <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
            </SfDialog>

            <SfDialog Target="#target" Width="350px" Height="140px" AllowDragging="false" EnableResize="false" ShowCloseIcon="true" @bind-Visible="errorVis">
                <DialogTemplates>
                    <Header>EMPTY SOURCE CODE ERROR</Header>
                    <Content>Your source code cannot build if there is no code there to build! Add some code first then try again.</Content>
                </DialogTemplates>
                <DialogEvents Closed="@errorClose"></DialogEvents>
            </SfDialog>
        </div>
        <div class="grid-container">
            <div class="codeDiv">
                <div class="tab">
                    <button class="tablinks" onclick="swapTab(event, 'Executer')" id="defaultOpen">Executer</button>
                    <button class="tablinks" onclick="swapTab(event, 'Debugger')" id="debuggerTab">Debugger</button>
                    <button class="tablinks" onclick="swapTab(event, 'Stats')">Statistics</button>
                </div>

                <div id="Executer" class="tabcontent">
                    <div class="executerTabContent">
                        <div>
                            <label id="exLabel"><b>Source Code</b></label>
                        </div>
                        <textarea @bind="ExecAssemblyCode"></textarea><br />
                        <div>
                            <label id="exLabel"><b>Machine Code</b></label>
                        </div>
                        <textarea @bind="ExecMachineCode" id="machineTextBox" readonly></textarea>
                    </div>
                </div>

                <div id="Debugger" class="tabcontent">
                    <div class="debuggerTabContent">
                        <div class="debugLabel">
                            <label id="exLabel"><b>Stack Trace</b></label>
                        </div>
                        <div class="debugContainer" id="debugCodeId">
                            @foreach (string line in assemblyCodeDebug)
                            {
                                <p class="@DivCSS(line)">@line</p>
                            }
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </div>
                    </div>
                </div>

                <div id="Stats" class="tabcontent">
                    <div class="statsTabContent">
                        <div>
                            <label id="exLabel"><b>Statistics</b></label>
                        </div>
                        <textarea>Statistics</textarea>
                    </div>
                </div>
            </div>
            <div class="middleGridCol">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="registerLabel"><b>R0:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R1:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R2:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R3:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R4:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R5:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R6:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>R7:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea>
                        </div>

                        <div class="col-sm-6">
                            <label class="registerLabel"><b>IP:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>SP:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>FL:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea><br />

                            <label class="registerLabel"><b>PC:</b></label>
                            <textarea readonly class="registerTextArea">0x00000000</textarea><br /><hr />

                            <label class="instLabel"><b>Instruction</b></label><br />

                            <label class="registerLabel"><b>OC:</b></label>
                            <textarea readonly class="registerTextArea">0x00</textarea><br />

                            <label class="registerLabel"><b>OP:</b></label>
                            <textarea readonly class="registerTextArea">0x0000</textarea>
                        </div>
                    </div>
                </div>

                <div class="ioContent">
                    <div class="inputBox">
                        <div>
                            <label id="exLabel"><b>Input</b></label>
                        </div>
                        <textarea>Input</textarea><br />
                    </div>
                    <div class="outputBox">
                        <div>
                            <label id="exLabel"><b>Output</b></label>
                        </div>
                        <textarea>Output</textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="memDump">
                    <div class="memoryDumpContent">
                        <div>
                            <label id="exLabel"><b>Memory Dump</b></label>
                        </div>
                        <textarea>Memory Dump</textarea><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string ExecMachineCode = "";
    private string ExecAssemblyCode = "";

    private bool debugRender = false;

    private List<string> assemblyCodeDebug = new List<string>();
    private List<string> assemblyCodeDebugSelected = new List<string>();
    private int assemblyCodeDebugCounter = 0;
    private bool initialDebugStep = true;

    private List<byte> machineCode = new List<byte>();
    private string output { get; set; }
    private string machineCodeString { get; set; }

    public bool ShowItem { get; set; } = true;
    private bool Visibility { get; set; } = false;
    private bool errorVis { get; set; } = false;
    private bool ShowButton { get; set; } = false;
    private ResizeDirection[] dialogResizeDirections { get; set; } = new ResizeDirection[] { ResizeDirection.All };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (debugRender)
        {
            await JSRuntime.InvokeVoidAsync("selectDebugTab");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("autoSelectFirstTab");
        }
        debugRender = false;
    }

    protected override async Task OnInitializedAsync()
    {
        StartupMethod();
    }

    void StartupMethod()
    {
        ExecMachineCode = FrontendVariables.currentMachineCodeExecuter;
        FrontendVariables.currentMachineCodeExecuter = "";
        ExecAssemblyCode = FrontendVariables.currentAssemblyCodeExecuter;
        FrontendVariables.currentAssemblyCodeExecuter = "";
    }

    private static List<byte> HexStringToByteList(string machineCodeString) 
    {
        if (machineCodeString.Length % 2 == 1)
            throw new Exception("Cannot have an odd number of digits!!");

        int numChars = machineCodeString.Length;
        byte[] bytes = new byte[numChars / 2];
        for (int i = 0; i < numChars; i += 2)
            bytes[i / 2] = Convert.ToByte(machineCodeString.Substring(i, 2), 16);

        List<byte> mCode = new List<byte>(bytes);

        return mCode;
    }

    void buildCode()
    {
        if (ExecAssemblyCode.Length != 0)
        {
            machineCode = Assembler.Assemble(ExecAssemblyCode);
            string hexCode = BitConverter.ToString(machineCode.ToArray());
            ExecMachineCode = hexCode.Replace("-", " ");
        }
        else
        {
            errorVis = true;
        }
    }

    void runCode()
    {
        ExecAssemblyCode = "It sorta worked";
    }

    void Debug()
    {
        assemblyCodeDebug.Clear();
        OnItemClick();
        List<string> temp = new List<string>();
        temp = ExecAssemblyCode.Split("\n").ToList();
        for (int i = 0; i < temp.Count; i++)
        {
            assemblyCodeDebug.Add(":   " + temp.ElementAt(i));
        }
        temp.Clear();

        if (initialDebugStep)
        {
            assemblyCodeDebugSelected.Clear();
            assemblyCodeDebugSelected.Add(assemblyCodeDebug.ElementAt(assemblyCodeDebugCounter));
            assemblyCodeDebugCounter++;
            initialDebugStep = false;
        }
        debugRender = true;
    }

    bool IsSelected(string code) => assemblyCodeDebugSelected.Any(line => line == code);

    string DivCSS(string line) => IsSelected(line) ? "bg-primary text-white" : "bg-white";

    void step()
    {
        assemblyCodeDebugSelected.Clear();
        if (assemblyCodeDebugCounter == assemblyCodeDebug.Count)
        {
            ShowItem = true;
            assemblyCodeDebugSelected.Clear();
            assemblyCodeDebugCounter = 0;
            initialDebugStep = true;
        }
        else
        {
            assemblyCodeDebugSelected.Clear();
            assemblyCodeDebugSelected.Add(assemblyCodeDebug.ElementAt(assemblyCodeDebugCounter));
            assemblyCodeDebugCounter++;
        }
        debugRender = true;
        if (assemblyCodeDebugCounter > 15 && assemblyCodeDebugCounter % 10 == 0)
        {
            JSRuntime.InvokeVoidAsync("stepScroll");
        }
    }

    public void OnItemClick()
    {
        ShowItem = !ShowItem;
    }

    private void DialogOpen(Object args)
    {
        this.ShowButton = true;
    }
    private void DialogClose(Object args)
    {
        this.ShowButton = false;
    }
    private void OnClicked()
    {
        this.Visibility = true;
    }

    private void errorClose(Object args)
    {
        this.errorVis = false;
    }


}
