@page "/executer"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@using InstructionSetProject.Backend.StaticPipeline;
@using Syncfusion.Blazor.Diagram
@using System.Collections.ObjectModel
@using InstructionSetProject.Backend.InstructionTypes
@using DiagramShapes = Syncfusion.Blazor.Diagram.Shapes
@using DiagramSegments = Syncfusion.Blazor.Diagram.ConnectorSegmentType
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<style>
    #inputFile {
        transform: translateY(10px);
        font-size: 14px;
        margin-left: 5px;
        width: 93px;
        border: 1px solid black;
    }

    SfSplitter {
        border: none;
    }

    #innerSplitter {
        border: none;
    }

    #mainSplitter {
        border: none;
    }

    .codeDiv {
        padding-right: 5px;
    }

    .registerPane {
        padding: 0px 5px 0px 5px;
        margin-bottom: 50px;
    }

    .ioPane {
        padding: 5px 5px 0px 5px;
    }

    .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover,
    .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active {
        background: blue;
    }

    .e-splitter .e-split-bar.e-split-bar-horizontal{
        background: #20639B;
    }

</style>

<div class="code_input_executer">
    <div class="code_input_wrapper">
        <div>
            <SfToolbar Height="65px">
                <ToolbarItems>
                    <ToolbarItem PrefixIcon="e-icons e-settings" Text="Build" OnClick="buildCode" TooltipText="Build the source/machine code prior to running"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-chevron-right-fill" Text="Run" Type="ItemType.Button" OnClick="runCode" TooltipText="Run the code"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-properties-1" Text="Debug" TooltipText="Start debugging the code" OnClick="Debug"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-text-wrap" Text="Step" OnClick="step" TooltipText="Step through each line of code upon debugging" Disabled="@ShowItem"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-check" Text="Continue" OnClick="Continue" TooltipText="Continue through the rest of the program" Disabled="@ShowItem"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-bullet-3" Text="Stop" TooltipText="Stop the program"></ToolbarItem>
                    <ToolbarItem PrefixIcon="e-icons e-repeat" Text="ReRun" TooltipText="Re-build and Re-run the program"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                    <ToolbarItem Text="DataPath" TooltipText="Show the data path of instructions" Disabled="@ShowButton" OnClick="OnClicked"></ToolbarItem>
                    <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                </ToolbarItems> 
            </SfToolbar>
            

            <SfDialog Target="#target" Width="1225px" Height="800px" ResizeHandles="@dialogResizeDirections" AllowDragging="true" EnableResize="false" ShowCloseIcon="true" @bind-Visible="Visibility">
                <DialogTemplates>
                    <Header>Datapath Emulation of Our ISA in the CPU</Header>
                    <Content>
                        <SfDiagramComponent Height="680px" Nodes="@NodeCollection" Connectors="@ConnectorCollection" @ref="@diagram">
                            <SnapSettings Constraints=SnapConstraints.None>
                            </SnapSettings>
                        </SfDiagramComponent>
                    </Content>
                </DialogTemplates>
                <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
            </SfDialog>

            <SfDialog Target="#target" Width="350px" Height="140px" AllowDragging="false" EnableResize="false" ShowCloseIcon="true" @bind-Visible="errorVis">
                <DialogTemplates>
                    <Header>EMPTY SOURCE CODE ERROR</Header>
                    <Content>Your source code cannot build if there is no code there to build! Add some code first then try again.</Content>
                </DialogTemplates>
                <DialogEvents Closed="@errorClose"></DialogEvents>
            </SfDialog>
        </div>
        <SfSplitter Height="860px" Width="100%" ID="mainSplitter">
            <SplitterPanes>
                <SplitterPane Min="25%">
                    <ContentTemplate>
                        <div class="codeDiv">
                            <div class="tab">
                                <button class="tablinks" onclick="swapTab(event, 'Executer')" id="defaultOpen">Executer</button>
                                <button class="tablinks" onclick="swapTab(event, 'Debugger')" id="debuggerTab">Debugger</button>
                                <button class="tablinks" onclick="swapTab(event, 'Stats')">Statistics</button>
                            </div>

                            <div id="Executer" class="tabcontent">
                                <div class="executerTabContent">
                                    <div>
                                        <InputFile OnChange="@LoadFile" id="inputFile" class="float-start" accept=".txt"></InputFile>
                                        <label id="exLabel"><b>Source Code</b></label>
                                        <button @onclick="SaveAssemblyCode" type="button" class="float-end" id="saveButton">Save File</button>
                                    </div>
                                    <textarea @bind="ExecAssemblyCode" placeholder="Write your assembly code here..."></textarea><br />
                                    <div>
                                        <label id="exLabel"><b>Machine Code</b></label>
                                    </div>
                                    <textarea @bind="ExecMachineCode" id="machineTextBox" readonly placeholder="Machine code output will appear here after building code..."></textarea>
                                </div>
                            </div>

                            <div id="Debugger" class="tabcontent">
                                <div class="debuggerTabContent">
                                    <div class="debugLabel">
                                        <label id="exLabel"><b>Stack Trace</b></label>
                                    </div>
                                    <div class="debugContainer" id="debugCodeId">
                                        @if (SPEx != null)
                                        {
                                            @foreach (var instr in SPEx.InstrList.InstructionOffsetDictionary)
                                            {
                                                <p class="@DivCSS(instr.Value)">@instr.Key.ToString("X4"):     @instr.Value.Disassemble()</p>
                                            }
                                        }
                                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>

                            <div id="Stats" class="tabcontent">
                                <div class="statsTabContent">
                                    <div>
                                        <label id="exLabel" class="statsClass"><b>Statistics</b></label>
                                        <button @onclick="SaveStats" type="button" class="float-end" id="saveButton">Save Stats</button>
                                    </div>
                                    <textarea @bind="statsString" placeholder="Statistics will appear after running the code..."></textarea>
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </SplitterPane>
                <SplitterPane Min="25%">
                    <ContentTemplate>
                        <div class="registerPane">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="registerLabel"><b>R0:</b></label>
                                        <textarea readonly class="registerTextArea">@r0</textarea><br/>

                                        <label class="registerLabel"><b>R1:</b></label>
                                        <textarea readonly class="registerTextArea">@r1</textarea><br/>

                                        <label class="registerLabel"><b>R2:</b></label>
                                        <textarea readonly class="registerTextArea">@r2</textarea><br/>

                                        <label class="registerLabel"><b>R3:</b></label>
                                        <textarea readonly class="registerTextArea">@r3</textarea><br/>

                                        <label class="registerLabel"><b>R4:</b></label>
                                        <textarea readonly class="registerTextArea">@r4</textarea><br/>

                                        <label class="registerLabel"><b>R5:</b></label>
                                        <textarea readonly class="registerTextArea">@r5</textarea><br/>

                                        <label class="registerLabel"><b>R6:</b></label>
                                        <textarea readonly class="registerTextArea">@r6</textarea><br/>

                                        <label class="registerLabel"><b>R7:</b></label>
                                        <textarea readonly class="registerTextArea">@r7</textarea>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="registerLabel"><b>IP:</b></label>
                                        <textarea readonly class="registerTextArea">@IP</textarea><br/>

                                        <label class="registerLabel"><b>SP:</b></label>
                                        <textarea readonly class="registerTextArea">@SP</textarea><br/>

                                        <label class="registerLabel"><b>FL:</b></label>
                                        <textarea readonly class="registerTextArea">@FL</textarea><br/>

                                        <label class="registerLabel"><b>PC:</b></label>
                                        <textarea readonly class="registerTextArea">@PC</textarea><br/><hr/>

                                        <label class="instLabel"><b>Instruction</b></label><br/>

                                        <label class="registerLabel"><b>OC:</b></label>
                                        <textarea readonly class="registerTextArea">0x00</textarea><br/>

                                        <label class="registerLabel"><b>OP:</b></label>
                                        <textarea readonly class="registerTextArea">0x0000</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ioPane">
                            <div class="ioContent">
                                <div class="inputBox">
                                    <div>
                                        <label id="exLabel"><b>Input</b></label>
                                    </div>
                                    <textarea placeholder="Input stuff here for the code to use..."></textarea><br/>
                                </div>
                                <div class="outputBox">
                                    <div>
                                        <label id="exLabel"><b>Output</b></label>
                                    </div>
                                    <textarea placeholder="Ouput will appear here after running code..."></textarea>
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </SplitterPane>
                <SplitterPane Min="25%">
                    <ContentTemplate>
                        <div>
                            <div class="memDump">
                                <div class="memoryDumpContent">
                                    <div>
                                        <button class="byteAddressLabel float-start"> Jump To </button>
                                        <input id="MemDumpStart" class="byteAddressInput float-start" placeholder="ex. 00AB" @bind-value="@MemDumpStart">
                                        <div class="memDumpLabel">
                                            <label id="exLabel"><b>Memory Dump</b></label>
                                        </div>
                                    </div>
                                    <textarea placeholder="Memory will begin to appear once the code begins execution...">@MemDumpContent</textarea><br />
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </SplitterPane>
            </SplitterPanes>
        </SfSplitter>
    </div>
</div>
